<%if message == unread_message %>
  <div id="unread-line">-------以下是未讀訊息-------</div>
<% end %>

<div class= "message <%= message.user_id == current_user.id ? 'me' : 'other'%>" data-message-id="<%= message.id %>">
  <div class= "pic_name">
    <%= image_tag message.user.avatar.url, class: "user-avatar", width: "50px", style: "border-radius: 50%" if message.user.avatar.present? %>
    <%= message.user.nick_name %>
  </div>
  <% if message.image.url.present? %>
    <div class= "pic">
      <%= image_tag message.image_url if message.image_url.present?%>
    </div>
  <% else %>
    <div class= "content">
      <%= simple_format(message.content) %>   <!----simple_format 讓\n換行字元換成HTML的<br>---->
    </div>
  <% end %>
</div>
