<%- if controller_name != 'sessions' %>
<%= link_to "登入", new_session_path(resource_name), id:'log-in' %>
<p class="or">-Or-</p>
<% end %>
<%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
<%#= link_to "Sign up", new_registration_path(resource_name) %>
<%# end %>

<%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<%#= link_to "Forgot your password?", new_password_path(resource_name) %>
<%# end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>
<div class="d-flex">
    <a href="<%= user_facebook_omniauth_authorize_path %>" type="submit" class="btn w-100 fb-btn">
        <i class="fab fa-facebook-f mr-3"></i>  Facebook</a>

    <a href="<%= user_google_oauth2_omniauth_authorize_path %>" type="submit" class="btn w-100 go-btn ml-2"><span
            class="font-weight-bold mr-2" style="font-size: 20px;">G</span>
        Google</a>
</div>
<%#- if devise_mapping.omniauthable? %>
<%#- resource_class.omniauth_providers.each do |provider| %>
<%#= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), id:'third-login' %>
<%# end %>
<%# end %>
