<div class="user-item-<%= user.id %> user-item">
  <%= link_to user_path(user), style: "display: inline-block" do %>
    <%= image_tag user.avatar.url, class: "user-avatar", width: "50px", style: "border-radius: 50%" if user.avatar.present? %>
    <span class="user-name"><%= user.nick_name %></span>
  <% end %>
  <span class="btn-follow">
    <%= render "/users/user_follow", user: user unless user == current_user%>
  </span>
</div>
