<%= render partial: "shared/title_with_prev", locals: { title: @user.nick_name } %>

<div class="fans-following-search-container">
  <nav class="py-3" data-controller = "following" data-following-id = "<%= @user.id %>">
    <div class="nav nav-tabs d-flex w-100" id="nav-tab" role="tablist">
      <a class="nav-link flex-grow-1 text-center <%= "active"if @fans == "fans"%>" id="nav-fans-tab" data-toggle="tab"
        href="#nav-fans" role="tab" aria-controls="nav-fans" aria-selected="true">
        <span class="fans"><%= @user_fans.count %>粉絲</span>
      </a>
      <a class="nav-link flex-grow-1 text-center <%= "active" if @followings == "followings"%>" id="nav-following-tab" data-toggle="tab" href="#nav-following"
        role="tab" aria-controls="nav-following" aria-selected="false">
      <span class = "followings"><%= @user_followings.count %>追蹤名單</span>
      </a>
    </div>
  </nav>


  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show <%= "active"if @fans == "fans"%>" id="nav-fans" role="tabpanel" aria-labelledby="nav-fans-tab">
      <div class = "follow-search-bar section">
        <div class="fans-search-container">
          <%= render partial: "searches/follow_form", locals: {user: @user, search_follow_path: search_fans_searches_path}%>
          <div class = "search-fans-area">
          </div>
        </div>
      </div>
      <div class="user-fans-contanier search-section">
        <%= render partial: "/users/user", collection: @user_fans, as: :user %>
      </div>
    </div>

    <div class="tab-pane fade show <%= "active"if @followings == "followings"%>" id="nav-following" role="tabpanel" aria-labelledby="nav-following-tab">
      <div class = "follow-search-bar section">
        <div class="followings-search-container">
          <%= render partial: "searches/follow_form" , locals: {user: @user, search_follow_path: search_followings_searches_path}%>
          <div class = "search-followings-area">
          </div>
        </div>
      </div>
        <div class="user-followings-container search-section">
          <%= render partial: "/users/user", collection: @user_followings, as: :user %>
        </div>
    </div>
  </div>
</div>

<template>

</template>
