<h1>User Show</h1>

<div style="display: flex; text-align: center">
  <div>
    <%= image_tag @user.avatar.url, width: "50px", style: "border-radius: 50%" if @user.avatar %>
    <%# <%= image_tag @user.avatar.variant(resize_to_limit: [50, 50]) if @user.avatar?  %>
  </div>

  <div>
    <%= link_to posts_path do %>
      <p><%= @user.posts_count %></p>
      <p>貼文</p>
    <% end %>
  </div>

  <div>
    <%= link_to fans_user_path(@user) do %>
      <p><%= @user.fans_count %></p>
      <p>粉絲</p>
    <% end %>
  </div>

  <div>
    <%= link_to followings_user_path(@user) do %>
      <p><%= @user.followings_count %></p>
      <p>追蹤中</p>
    <% end %>
  </div>
</div>

<div>
  <p><%= @user.nick_name %></p>
  <p><%= @user.email %></p>
  <p><%= @user.description %></p>
</div>

<div class="user-item-<%= @user.id %>">
  <%= render  "user_btn", user: @user  %>
</div>

<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link post-btn active" href="#">使用者貼文</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tag-btn" href="#">使用者被標記貼文</a>
    </li>
  </ul>
  <br>

  <div class="my-posts row">
    <%= render partial: "/posts/post", collection: @my_posts, as: :post %>
  </div>

  <div class="taged-posts row" style="display: none;">
    <%= render partial: "/posts/post", collection: @taged_posts, as: :post %>
  </div>
</div>
