<% if user_signed_in? %>
  <div class="fixed-bottom bg-light border-top">
    <%= link_to  "home", root_path %>
    <%= link_to  "search", searches_path %>
    <%= link_to  "add", new_user_post_path(current_user) %>
    <%= link_to  "like", "#" %>
    <%= link_to  "user", user_path(current_user) %>
  </div>
<% end %>
