<div class = "chat_user_list section" data-user="<%= current_user.id%>">
  <% if @chats.present? %>
      <% @chats.each do |chat| %>
        <div class = "chat-user" data-chat-user = "<%= chat.opposed_user(current_user).id%>">
          <div class = "chat-user-pic">
            <%= image_tag chat.opposed_user(current_user).avatar.url, class: "user-avatar", width: "50px", style: "border-radius: 50%" if chat.opposed_user(current_user).avatar.present? %>
            <div class = "dot <%= "online-dot" if chat.opposed_user(current_user).is_online? %>"></div>
          </div>
          <div class = "chat-user-info">
            <%= link_to chat.opposed_user(current_user).nick_name, chat_path(chat) %>
            <% if chat.any_unread_messages?(current_user) %>
              <div class="unread-messages">
                您有<%= chat.unread_messages(current_user) %>則新訊息
              </div>
            <% elsif chat.opposed_user(current_user).is_online? %>
              <div class = "online-text">
                目前在線上
              </div>
            <% end %>
          </div>
          <div class="notice-dot <%= "message-notice-dot" if chat.any_unread_messages?(current_user)%>"></div>
        </div>
      <% end %>
    <% end %>
</div>
