<%= render "shared/navbar" %>
<div class="post-load-page" style="overflow: auto;">
  <div class="container-fluid container-md">


    <!-- Main post  -->
    <div class="row justify-content-center">
      <div class="col-12 px-0 pb-3 following-posts post-load-target">

        <!-- limit video story-->
        <div
          class="limit-video d-flex justify-content-start align-items-center text-center border-bottom border-gray mb-3 px-3">
          <%= render partial: "/stories/story", collection: @results, as: :user %>
        </div>

        <% if @posts !=[] %>
          <%= render partial: "/posts/post", collection: @posts, as: :post %>
          <% if @posts.count >= 20 %>
            <%= render partial: "/shared/loading" %>
          <% end %>
        <% else %>
          <div class="default d-flex flex-column align-items-center position-relative" style="bottom: -30%">
            <div class="welcome h3 text-black-50">歡迎使用 Bubblegram !</div>
            <%= image_tag("/no_follow.png", class: "w-100") %>
            <div class="text h6 text-black-50">追蹤其他人後，可以在這裡看到他們照片與影片！</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
