<%= render "shared/navbar" %>

<div class="post-load-page" style="overflow: auto; height: 100vh;">
  <div class="container-fluid container-md">

    <%# 之後要做if使用者有限時動態，要出現限時動態。else新增限時動態end %>
    <div class="story">
      <%= link_to '新增限時動態', new_user_story_path(current_user) %>
    </div>

<!-- limit video -->
    <div class="limit-video d-flex justify-content-around align-items-center text-center border-bottom border-gray mb-3">
      <%= render "/stories/story", user: current_user %>
      <%= render partial: "/stories/story", collection: @following_users, as: :user %>
    </div>

<!-- Main post  -->
    <div class="row">
      <div class="col-12 col-md-8 px-0 pb-3 following-posts post-load-target">
        <%= render partial: "/posts/post", collection: @posts, as: :post %>
        <%= render "/shared/loading" %>
      </div>
    </div>
  </div>
</div>
