<%= link_to '新增限時動態', new_user_story_path(current_user) %>

<section class="warp">
    <header calss="header">
      <div class="menber">
        <div >
          <!-- <img src="https://picsum.photos/500/400?random=1" alt="X" class="menber-pic" > -->
          <%= image_tag @user.avatar.url, class:'rounded-circle align-middle img-fluid menber-pic' %>
        </div>
        <div class="menber-name">
          <strong>
            <%= @user.nick_name %>
          </strong>
        </div>
        <% @stories.each_with_index do |story,index| %>
        <div class="<%= index == 0 ? 'active' : '' %>">
          <%# creat_time %>
            <%= time_ago_in_words(story.created_at) %>
        </div>
        <% end %>
        <button class="fun-btn"><i class="fas fa-ellipsis-h"></i></button>
      </div>
    </header>

    <div class = "pic-div">
      <!-- 以下輪播 -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @stories.each_with_index do |story, index| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<% index == 0 ? 'active' : '' %>"></li>
          <% end %>
        </ol>

        <div class="carousel-inner">
          <% @stories.each_with_index do |story,index| %>
          <div class="story-img carousel-item story_id <%= index == 0 ? 'active' : '' %>"  story_id="<%= story.id %>" >
            <%= image_tag story.picture.url, class: 'd-block w-100' %>
          </div>
          <% end %>
        </div>

          <button class="goroot">
            <%= link_to root_path, class: "goroot" do  %>
              <i class="fas fa-times"></i>
            <% end %>
          </button>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

      </div>
      <!-- 以上輪播 -->
    </div>
  </section>

  <div class="modal-fun">
    <div class="modal-card">
      <div class="modal-del btn" id="story_delete">
        <a href="#">刪除</a>
      </div>
      <div  class="modal-cancel">
        <a href="#" >取消</a>
      </div>
    </div>
  </div>
