<section class="stories"
  data-user-name="<%= @user.nick_name %>"
  data-current-user="<%= current_user.nick_name %>"
  data-user-avatar="<%= @user.avatar.url %>"
  data-story-time="<%= time_ago_in_words(@first_story_time) %>"
  data-story-index="0"
>
  <header class="member">
    <div class="dots">
    </div>

    <div class="member-title">
      <div class="user-avatar">
        <% if @user == current_user %>
          <%= link_to new_user_story_path(current_user),class:'add-story' do %>
            <%= image_tag @user.avatar.url %>
          <% end %>
        <% else %>
          <%= image_tag @user.avatar.url %>
        <% end %>
      </div>

      <div class="user-name">
        <span>User Name</span>
      </div>

      <!--時間---->
      <div class="story-time">
        <span>Story Time</span>
      </div>

      <div class="header-btn">
        <!-----選單--->
        <% if @user == current_user %>
          <button class="btn-dot">
            <i class="fas fa-ellipsis-h"></i>
          </button>
        <% end %>

        <!---回首頁------->
        <button class="btn-home">
          <%= link_to root_path do %>
            <i class="fas fa-times"></i>
          <% end %>
        </button>
      </div>
    </div>
  </header>

  <div class="story-pic">
    <!-- 以下輪播 -->
    <div class="stories-main owl-carousel">
    </div>
    <!-- 以上輪播 -->
  </div>

  <div class="modal-fun">
    <div class="modal-card">
      <div class="modal-del">
        <a href="#">刪除</a>
      </div>
      <div  class="modal-cancel">
        <a href="#" >取消</a>
      </div>
    </div>
  </div>
</section>
