<section class="stories w-100 m-auto"
  data-user-name="<%= @user.nick_name %>"
  data-user-avatar="<%= @user.avatar.url %>"
  data-story-time="<%= @first_story_time %>"
>
  <header class="member  w-100 pt-2 px-2">
    <div class="dots">
      <div class="dot active"><span></span></div>
      <div class="dot"><span></span></div>
      <div class="dot"><span></span></div>
      <div class="dot"><span></span></div>
      <div class="dot"><span></span></div>
      <div class="dot"><span></span></div>
      <div class="dot"><span></span></div>
    </div>

  <div class="member-title d-flex align-items-center">
    <div class="member-pic user-avatar">
        <%= image_tag @user.avatar.url, class:'rounded-circle w-100' %>
    </div>

    <div class="user-name member-name ml-2 mr-2">
      <span>User Name</span>
    </div>

    <!--時間---->
    <div class="story-time create_time">
      <span>Story Time</span>
    </div>

    <div class="header-btn ml-auto">
      <!-----選單--->
      <button class="btn-dot">
        <i class="fas fa-ellipsis-h"></i>
      </button>
      <!---回首頁------->
      <button class="btn-home">
        <%= link_to root_path do %>
          <i class="fas fa-times"></i>
        <% end %>
      </button>
    </div>

  </div>


  </header>

  <div class="story-pic">
    <!-- 以下輪播 -->
    <div class="stories-main owl-carousel">
    </div>
    <!-- 以上輪播 -->
  </div>

  <div class="modal-fun">
    <div class="modal-card">
      <div class="modal-del">
        <a href="#">刪除</a>
      </div>
      <div  class="modal-cancel">
        <a href="#" >取消</a>
      </div>
    </div>
  </div>
</section>
