<%= render partial: "shared/title_with_prev", locals: { title: "限時動態", css: "" } %>

<div class="wrap">
  <% if @story.errors.any? %>
  <ul>
    <% @story.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <div class="swiper-container m-auto">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper" style=" display: flex; align-items: center;">
      <!-- Slides -->
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <%# form_with表單預設為Ajax，若要更改設定則需輸入local: true %>
  <%= form_with(model: @story, url: user_stories_path, local: true) do |form| %>

  <div class="form-group add-photo">
    <div class="upload-btn">
      <i class="fas fa-upload fa-4x"></i>
      <p>上傳現實動態</p>
    </div>
    <%= form.file_field :picture, class: "form-control" %>
  </div>


  <div>
    <%= form.submit '新增限時動態', class: 'limit_submit' %>
  </div>
  <% end %>
</div>
