<% if alert %>
  <div class="alert alert-info alert-dismissible fade show w-100" role="alert" id="login-alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div id="home">
  <div id='index-logo'>
    <%= image_tag("/text_logo.svg",class: "w-100") %>
  </div>
  </div>
<div class="container position-absolute login-form wrap">

  <%= form_with(model: resource, as: resource_name, url: session_path(resource_name), local: true, html: { novalidate: true, class: 'needs-validation' }) do |f| %>

  <div class="form-group position-relative mb-2 d-flex flex-wrap align-items-center justify-content-between">
    <label for="user_email" class="email-label">
      <i class="fas fa-envelope"></i>
    </label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control rounded-pill pl-3', required: true, placeholder: '請輸入電子信箱' %>
    <div class="invalid-feedback">
        請輸入正確的電子信箱
    </div>
  </div>

  <div class="form-group position-relative mb-4 d-flex flex-wrap align-items-center justify-content-between">
    <label for="user_password" class="password-label"><i class="fas fa-unlock-alt"></i></label>
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control rounded-pill pl-3 w-75', required: true, placeholder: '請輸入密碼' %>
  </div>

  <div class="actions">
    <%= f.submit "登入", class: 'btn w-100 btn-login' %>
    <p class="text-center m-0 py-3" style="color: #8b8b8b">-Or-</p>

    <%= render "devise/shared/links" %>
    <p class="text-center pt-2">還沒有帳號?
      <%= link_to "註冊", new_user_registration_path %>
      或是 <%= link_to "訪客登入", guest_users_path %>
    </p>
  </div>
  <% end %>
</div>

<%= render partial: "shared/github_link" %>
