<div class = "room-message" data-controller = "roomMessage" data-roomMessage-id = "<%= @room.id %>" data-roomMessage-user = "<%= current_user.id %>">
  <div class="message-text-area">
    <%# <%= render partial: "messages/live_stream_message", collection: @messages, as: :message %>
  </div>
</div>
  <div class="live-stream-form-group">
    <%= form_with(model: @message, url: messages_path(room_id: @room)) do |f| %>
      <%= f.text_field :content, placeholder: "發送訊息........", autocomplete: "off"%>
      <label for="submit" name="text-submit"><i class="far fa-paper-plane"></i></label>
      <%= f.submit "傳送" ,id: "submit", class:"disappear", disabled: true %>
    <% end %>
   <%= form_with(url: heart_messages_path(room_id: @room)) do |f| %>
      <%= f.text_field :content, type: "hidden", value: "heart"%>
      <label for="heart-submit" name="heart-submit"><i class="fas fa-heart"></i></label>
      <%= f.submit "傳送" ,id: "heart-submit", class:"disappear"%>
    <% end %>
  </div>
