<div
		id="pub-video"
		data-controller = "vonagePub"
		data-vonagePub-room-id="<%= @room.id %>"
		data-vonagePub-key="<%= ENV['vonage_api_key']%>"
		data-vonagePub-session-id = "<%= @room.vonage_session_id %>"
		data-vonagePub-token = "<%= @token %>"
		data-vonagePub-name = "<%= current_user.nick_name%>正在直播！"
>
</div>
<%= render partial: "rooms/live_stream_message_area", locals: {messages: @messages, message: @message, room: @room } %>

<div class = "visits"
     data-controller = "liveStreamVisits"
     data-liveStreamVisits-id="<%= @room.id%>"
>
<i class="far fa-eye"></i>
<span class = "counts"></span>
</div>

<%= link_to destroy_room_room_path, method: 'post',data: {turbolinks: false}, class: 'back-link' do %>
	<i class="fas fa-sign-out-alt"></i>
<% end %>

<template id="message-template">
   <div class = "message">
     <div class = "user-avatar">
       <img src="" alt="" class = "rounded-circle">
     </div>
     <div class="content">
       <div class = "name-with-time">
           <div class = "name"></div>
           <div class="time"></div>
       </div>
       <div class="text-content"></div>
     </div>
  </div>
</template>
