<div id="videos"
     action="show"
     data-controller = "vonageSub"
     data-vonageSub-key = "<%= ENV['vonage_api_key']%>"
     data-vonageSub-session-id = "<%= @room.vonage_session_id %>"
     data-vonageSub-token = "<%= @token %>">
</div>
<div class= "end-notice col-6 mx-auto d-none">直播已經結束囉！</div>
<div class = "room-message" data-controller = "roomMessage" data-roomMessage-id = "<%= @room.id %>">
  <div class="message-text-area">
    <%= render partial: "messages/live_stream_message", collection: @messages, as: :message%>
  </div>
  <div class="searchbar">
    <%= form_with(model: @message, url: messages_path(room_id: @room)) do |f| %>
      <%= f.text_field :content, placeholder: "發送訊息........", autocomplete: "off" %>
      <%= f.submit "傳送" , class:"disappear" %>
    <% end %>
  </div>
</div>
<%= link_to root_path, data: {turbolinks: false}, class: 'back-link' do %>
     <i class="fas fa-sign-out-alt"></i>
<% end %>
<template id="message-template">
   <div class = "message">
      <div class = "name"></div>
      <div class="content"></div> <!--img/content------------->
  </div>
</template>
