<% if post.errors.any? %>
<ul>
  <% post.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_with(model: post, url: url, class: "form", local: true) do |form| %>

<!-- Slider main container -->
<div class="swiper-container" style="width:100%; max-width:400px;">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper" style=" display: flex; align-items: center;">
    <!-- Slides -->
    <% post.images.each do |image| %>
    <div class="swiper-slide">
      <%= image_tag image.url, width: "100%", draggable: false if post.images.present? %>
    </div>
    <% end %>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>

<% if post.images.empty? %>
<div class="form-group add-photo">
  <div class="upload-btn">
    <i class="fas fa-upload fa-4x"></i>
    <p>上傳照片</p>
  </div>
  <%= form.file_field :images, multiple: true, class: "form-control" %>
</div>
<% end %>

<div class="form-group post-content">
  <%= form.label :content, '文章內文' %>
  <%= form.text_area :content, class: "form-control", placeholder: '輸入照片描述 ...'%>
</div>

<div class="form-group">
  <%= form.label :taged_user_ids, 'Tag' %>
  <select name="post[taged_user_ids][]" multiple="multiple" class="form-control taged_users">
    <%= options_for_select(users, taged_id) %>
  </select>
</div>

<%= form.submit '確認' %>
<% end %>
