<div class="col-12 border border-gray mb-4 px-0">
  <div class="user-post">
    <div class="user-info d-flex align-items-center p-2">
      <div class="user-photo">
        <%= image_tag post.user.avatar.url, class: "rounded-circle img-fluid" if post.user.avatar.present? %>
      </div>

      <div class="user-name ml-2">
        <strong><%= link_to post.user.nick_name, user_path(post.user), class: 'text-black' %></strong>
      </div>

      <div class="option ml-auto g-btn px-2"></div>

      <div class="dropdown">
        <button class="btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <%= link_to '編輯', edit_post_path(post), class: 'dropdown-item' %>
          <!-- Button trigger modal -->
          <a class="dropdown-item text-danger" data-toggle="modal" data-target="#staticBackdrop"
            style="cursor: pointer;">
            刪除
          </a>
        </div>
      </div>

      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger" id="staticBackdropLabel">你確定要刪除嗎？</h5>
            </div>
            <div class="modal-body">
              請注意！<br>
              貼文一經刪除過後，就沒辦法再找回來了哦！
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-secondary" data-dismiss="modal">取消</a>
              <%= link_to '刪除', post_path(post), method: 'DELETE', class: 'btn btn-outline-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="post-pic w-100 h-100">
    <%= image_tag post.image.url, class: "w-100 h-100 align-middle img-fluid" %>
  </div>

  <div class="post-content px-2">
    <div class="icon-group d-flex align-items-center">
      <span data-controller="heart" data-heart-id="<%= post.id %>">
        <button id="thumb" class="like btn " data-action="click->heart#favourite" data-turbolinks="false">
          <% if post.favorited_by?(current_user) %>
          <i class="fas fa-heart" data-target="heart.like"></i>
          <% else %>
          <i class="far fa-heart" data-target="heart.like"></i>
          <% end %>
        </button>
      </span>

      <div class="comment btn pl-2">
        <%= link_to post_path(post), style: "color: #000;" do %>
          <i class="far fa-comment"></i>
        <% end %>
      </div>

      <div class="share g-btn pl-2">
        <i class="far fa-share-square"></i>
      </div>

      <div class="collect g-btn ml-auto">
        <i class="far fa-flag"></i>
      </div>
    </div>

    <div class="user-post-content">
      <div class="thumb-up ">
        <strong>654個讚</strong>
      </div>

      <div class="">
        <strong class="user-name"><%= post.user.nick_name %></strong>
        <span class="user-word"><%= post.content %></></span>
      </div>

      <div class="post-time ">
        <small class="text-secondary"><%= time_ago_in_words post.created_at %></small>
      </div>
    </div>

    <div class="comments ">
      <div>
        <% if post.has_comment? %>
          <%= link_to "View all #{post.comments_count} comments", post_path(post), class: 'text-gray' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
