<div data-controller="heart" data-heart-id="<%= post.id %>" class="col-12 border border-gray mb-3 px-0 pb-2">
  <!---post user and btn---------------------->
  <%= render partial: "/posts/post_user", locals: { post: post } %>
  <!---IMAGES---------------->
  <div data-action="click->heart#like" class="post-pic w-100 h-100">
    <div class ="heart"></div>
    <div class="post-pic-carousel owl-carousel owl-theme">
      <%= render partial: "/posts/carousel_img", collection: post.images, as: :image, locals: {images: post.images} %>
    </div>
  </div>

  <div class="post-content px-2">
    <%= render partial: "/posts/post_icon", locals: { post: post } %>

    <div class="user-post-content">
      <div class="thumb-up ">
        <strong><%= post.favourites_count %>個讚</strong>
      </div>

      <div class="">
        <strong class="user-name"><%= post.user.nick_name %></strong>
        <span class="user-word"><%= post.content %></></span>
      </div>

      <div class="post-time ">
        <small class="text-secondary"><%= time_ago_in_words post.created_at %></small>
      </div>
    </div>

    <div class="comments ">
      <div>
        <% if post.has_comment? %>
          <%= link_to "View all #{post.comments_count} comments", post_path(post), class: 'text-gray' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
