<h1>文章總覽</h1>

<%= link_to '新增文章', new_post_path %>

<table>
  <tr>
    <th>文章</th>
    <th>編輯與刪除</th>
  </tr>



  <% @posts.each do |post| %>


  <tr>
    <td>
      <%= image_tag (post.image.url) %>
      <%= link_to post.body, post_path(post) %></>
    <td>
      <%= link_to '編輯', edit_post_path(post) %>
      <%= link_to '刪除', post_path(post), method: 'DELETE', data: { confirm: '你確定刪除嗎?' } %>
      <span data-controller="heart" data-heart-id="<%= post.id %>">
        <button data-action="click->heart#favourite">
          <% if post.favorited_by?(current_user) %>
          <i class="fas fa-heart" data-target="heart.like"></i>
          <% else %>
          <i class="far fa-heart" data-target="heart.like"></i>
          <% end %>
        </button>
      </span>
    </td>
  </tr>
  <% end %>
</table>
<div data-controller="">
  <div data-heart-aaa=""></div>

</div>
