<div class="wrap px-3">
  <h1>文章新增</h1>

  <% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <%= form_for @post do |form| %>

  <div>
    <%= form.file_field :image %>
    <img id="output" alt="" class="w-100 img-fluid">

  </div>

  <div>
    <%= form.rich_text_area :body, placeholder: '輸入相片解說 ...' %>
  </div>

  <%= form.submit '新增文章', class: 'btn btn-outline-secondary mt-2' %>

  <% end %>
</div>
