<div class="owl-carousel owl-theme">
  <%= render partial: "/posts/carousel_img", collection: @post.images, as: :image, locals: {images: @post.images} %>
</div>

<p><%= @taged_users.join(", ") %></p>

<p><%= @post.content %></p>

<%= render partial: "/comments/comment", collection: @comments %>
<%= form_with(model: @comment, url: post_comments_path(@post) ,local: true) do |form| %>
  <div>
    <%= form.text_field :content, placeholder: "輸入留言" %>
    <%= form.submit "留言" %>
  </div>
<% end %>
