<div>
  <img src="<%= @post.image %>" alt="">
</div>
<p><%= @post.content %></p>


<%= form_with(model: @comment, url: post_comments_path(@post) ,local: true) do |form| %>
  <div>
    <%= form.text_field :content, placeholder: "輸入留言" %>
    <%= form.submit "Create" %>
  </div>
<% end %>

<%= render partial: "/comments/comment", collection: @comments %>
