<div class="wrap">
  <h4 class="post-show-title">你的貼文</h4>
  <div class="owl-carousel owl-theme">
    <%= render partial: "/posts/carousel_img", collection: @post.images, as: :image if @post.images %>
  </div>

  <p><%= @taged_users.join(", ") %></p>

  <p><%= @post.content %></p>

  <%= render partial: "/comments/comment", collection: @comments %>
  <%= form_with(model: @comment, url: post_comments_path(@post) ,local: true) do |form| %>
  <div class="d-flex w-100 comment">
    <%= form.text_field :content, placeholder: "輸入留言", class: 'flex-grow-1', autocomplete: "off"  %>
    <div class="underline"></div>
    <%= form.submit "留言", id: 'comment_submit' %>
  </div>
  <% end %>
</div>
