<!DOCTYPE html>
<html class="h-100" style="overflow: auto;">
  <head>
    <title>Bubblegram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100" style="overflow: auto;">
    <%= render "shared/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid px-0">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
